@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600;700&display=swap');

body {
  font-family: 'Jost';
  background-color: rgb(26, 26, 26);
  /* color: rgb(255, 255, 255); */
}

/* System status */
.system-status {
  position: absolute;
  top: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 500;
  color: #2e7d32;
  letter-spacing: 1px;
}

.status-dot {
  width: 10px;
  height: 10px;
  background-color: #2ecc71;
  border-radius: 50%;
  animation: blink 1.2s infinite;
}

@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0.2;
  }
}


.about-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skeleton-text {
  font-size: 280px;
  font-weight: 800;
  color: transparent;
  background: linear-gradient(
    100deg,
    #424141 30%,
    #1d1c1c 50%,
    #121212 70%
    
  );
  background-size: 200% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  animation: skeleton-loading 1.9s infinite;
}

@keyframes skeleton-loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
