# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

# name: Build and deploy Node.js app to Azure Web App - CityInBooking

# on:
#   push:
#     branches:
#       - main
#   workflow_dispatch:

# jobs:
#   build:
#     runs-on: windows-latest
#     permissions:
#       contents: read #This is required for actions/checkout

#     steps:
#       - uses: actions/checkout@v4

#       - name: Set up Node.js version
#         uses: actions/setup-node@v3
#         with:
#           node-version: '20'

#       - name: npm install, build, and test
#         run: |
#           npm install
#           npm run build --if-present
#           npm run test --if-present
      
#       - name: Upload artifact for deployment job
#         uses: actions/upload-artifact@v4
#         with:
#           name: node-app
#           path: .

#   deploy:
#     runs-on: ubuntu-latest
#     needs: build
    
#     steps:
#       - name: Download artifact from build job
#         uses: actions/download-artifact@v4
#         with:
#           name: node-app
      
#       - name: 'Deploy to Azure Web App'
#         uses: azure/webapps-deploy@v3
#         id: deploy-to-webapp
#         with:
#           app-name: 'CityInBooking'
#           slot-name: 'Production'
#           package: .

name: Build and deploy Next.js (Windows App Service)

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - run: npm install
      - run: npm run build

      - name: Prepare artifact
        run: |
          mkdir deploy
          xcopy .next deploy\.next\ /E /I
          xcopy public deploy\public\ /E /I
          copy package.json deploy\
          copy package-lock.json deploy\
          copy server.js deploy\
          copy web.config deploy\

      - uses: actions/upload-artifact@v4
        with:
          name: nextjs-win
          path: deploy

  deploy:
    runs-on: windows-latest
    needs: build

    steps:
      - uses: actions/download-artifact@v4
        with:
          name: nextjs-win

      - uses: azure/webapps-deploy@v3
        with:
          app-name: CityInBooking
          slot-name: Production
          package: .
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_1BFA5A8D7443426780E84BD6D572E67C }}
